.masthead {
  .city-info {
    background: rgba(100, 161, 157, 0.44);
  }

  &.day {
    background: url('./../../assets/img/tlv_1.jpg') center;
  }

  &.night {
    background: url('./../../assets/img/tlv_2.jpg') center;
  }
}
