
.thermometer-full:before {
  color: #d20025;
}
.thermometer-three-quarters:before {
  color: #d2ce0e;
}
.thermometer-half:before {
  color: #2ad20d;
}
.thermometer-quarter:before {
  color: #2428ec;
}
.thermometer-empty:before {
  color: #248eec;
  //color: #d2ce0e;
}


//.thermometer-full:before {
//  color: #d20025;
//}
//.thermometer-three-quarters:before {
//  color: #d2ce0e;
//}
//.thermometer-half:before {
//  color: #2ad20d;
//}
//.thermometer-quarter:before {
//  color: #2428ec;
//}
//.thermometer-empty:before {
//  color: #248eec;
//}
