:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;

  --home-bg-color: #D3F1FF;
  --card-bg-color: #B9E9FF;
  --card-border-color: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;

  --card-bg-color: #307799;
  --home-bg-color: #183C4D;
  --card-border-color: 1px solid rgba(255, 255, 255, 0.25);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--font-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}

.masthead {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.card {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: var(--card-border-color);
}

.home {
  background-color: var(--bg-color);
  color: var(--font-color);
}
